/* font-family: 'Poppins', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(250, 250, 250);
}
.card-container {
  margin: 4rem 2rem 4rem 2rem;
}

.header-container h1 span {
  font-weight: 200;
  font-size: 25px;
  color: hsl(0, 2%, 66%);
}

.header-container h1 {
  font-weight: 600;
  font-size: 26px;
  color: hsl(240, 1%, 18%);
  margin-bottom: 15px;
}

.header-container p {
  font-weight: 400;
  font-size: 15px;
  color: hsl(0, 2%, 66%);
  margin-bottom: 40px;
  text-align: start;
}

.first-card {
  background-color: rgb(255, 255, 255);
  height: 300px;
  border-top: 5px solid hsl(180, 62%, 55%);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(231, 236, 242);
  margin-bottom: 40px;
  position: relative;
}

.second-card {
  background-color: rgb(255, 255, 255);
  height: 300px;
  border-top: 5px solid hsl(0, 78%, 62%);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(231, 236, 242);
  margin-bottom: 40px;
  position: relative;
}

.third-card {
  background-color: rgb(255, 255, 255);
  height: 300px;
  border-top: 5px solid hsl(34, 97%, 64%);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(231, 236, 242);
  margin-bottom: 40px;
  position: relative;
}

.forth-card {
  background-color: rgb(255, 255, 255);
  height: 300px;
  border-top: 5px solid hsl(212, 86%, 64%);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(231, 236, 242);
  margin-bottom: 40px;
  position: relative;
}

.first-card h3,
.second-card h3,
.third-card h3,
.forth-card h3 {
  font-weight: 600;
  font-size: 26px;
  padding: 30px 30px 20px 30px;
}

.first-card p,
.second-card p,
.third-card p,
.forth-card p {
  font-weight: 200;
  font-size: 15px;
  color: hsl(0, 2%, 66%);
  padding: 0 30px 0 30px;
  line-height: 25px;
}

.first-card img,
.second-card img,
.third-card img,
.forth-card img {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

@media screen and (min-width: 768px) {
  .header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .header-container p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  .card-info {
    position: relative;
    display: grid;
    margin: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .first-card h3,
  .second-card h3,
  .third-card h3,
  .forth-card h3 {
    padding: 20px 30px 0px 30px;
  }

  .first-card {
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 2;
    top: 200px;
    height: 350px;
  }

  .second-card {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 350px;
  }

  .third-card {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 350px;
  }

  .forth-card {
    grid-column-start: 3;
    position: absolute;
    top: 200px;
    height: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .header-container p {
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;
  }

  .first-card,
  .second-card,
  .third-card,
  .forth-card {
    height: 250px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container p {
    text-align: center;
    margin-left: 410px;
    margin-right: 410px;
  }

  .card-info {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .first-card {
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 2;
    top: 200px;
    padding: 40px;
    height: 250px;
    left: 30px;
  }

  .second-card {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 40px;
    height: 250px;
  }

  .third-card {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 40px;
    height: 250px;
  }

  .forth-card {
    grid-column-start: 3;
    position: absolute;
    top: 200px;
    padding: 40px;
    height: 250px;
  }
}
